<div>
    <div class="container" data-bind="with: titles">
        <div class="row">
            <div class="col-6">
                <h2 data-bind="text: primaryTitle">Title details (<span data-bind="text: startYear"></span>)</h2>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-primary">Add to bookmarks +</button>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" data-bind="attr:{src: poster}" />
            </div>
            <div class="col-6">
                <p>Runtime: <span data-bind="text: runTimeMinutes"></span> minutes</p>
                <div class="container">
                    <div class="row">
                        <div class="col-6" data-bind="with: $parent.rating">
                            <p>Rating: <span data-bind="text: averageRating"></span></p>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-primary">Rate this</button>
                        </div>
                    </div>
                </div>
                <p>Cast and Crew</p>
                <p>Director:</p>
                <p>Writers:</p>
                <p>Actors:</p>
                <p data-bind="text: plot"></p>
                <p>Awards: <span data-bind="text: awards"></span></p>
            </div>
        </div>
    </div>
</div>    