<div class="jumbotron">
    <h1 data-bind="home" class="display-3">Welcome to Movie Finder</h1>
    <h2>The only moviedatabase you will ever need!</h2>
    <p class="lead">This is a movie searching website where you can look up information on all types of movies, tv-shows
        and actors. You can also sign up as a user and give ratings as well as bookmark content and save notes on movies
        and actors. </p>
    <hr class="my-4">
    <p>It is part of a student project at Roskilde University.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>