<div class="container" data-bind="template: currentTemplate"></div>
<div class="jumbotron">
    <h1 data-bind="home" class="display-3">Welcome to Movie Finder</h1>
    <h2>The only moviedatabase you will ever need!</h2>
    <p class="lead">This is a movie searching website where you can look up information on all types of movies, tv-shows
        and actors. You can also sign up as a user and give ratings as well as bookmark content and save notes on movies
        and actors. </p>
    <hr class="my-4">
    <p>It is part of a student project at Roskilde University.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
<div class="form-group" data-children-count="1">
    <label class="col-form-label" for="username">Username</label>
    <input data-bind="value: username" type="text" class="form-control" placeholder="JohnDoe01" id="username">
</div>
<div class="form-group" data-children-count="1">
    <label for="exampleInputPassword1">Password</label>
    <input data-bind="value: password" type="password" class="form-control" id="exampleInputPassword1" placeholder="superSecretPassword123" data-kwimpalastatus="alive" data-kwimpalaid="1607009151902-0">
</div>
<button type="button" class="btn btn-primary" data-bind="click: loginUser">Login</button>