<div class="container">
    <h2>Title search results</h2>
    <div data-bind="foreach: titles">
            <div class="row" data-bind="foreach: items">
                <div class="col-4">
                    <div class="primary_title" data-bind="text: primaryTitle"></div>
                    <img class="img-fluid" data-bind="attr:{src: poster}" />
                </div>
            </div>
    </div>
    <div>
        <button data-bind="click: showPrev, enable: enablePrev">Prev</button>
        <button data-bind="click: showNext, enable: enableNext">Next</button>
    </div>
</div>    