<div class="container">
    <h2>Title search results</h2>
    <div>
        Page size: <select data-bind="options: pageSizes, selectedOptions: selectedPageSize"></select>
    </div>
    <div class="row" data-bind="foreach: titles">
        <div class="col-4">
            <div class="primary_title" data-bind="text: primaryTitle"></div>
            <img class="img-fluid" data-bind="attr:{src: poster}" />
            <button data-bind="click: $parent.selectTitle">Click</button>
        </div>
    </div>
    <title-details></title-details>
    <div>
        <br>
        <button class="btn btn-primary" data-bind="click: showPrev, enable: enablePrev">Prev</button>
        <button class="btn btn-primary" data-bind="click: showNext, enable: enableNext">Next</button>
    </div>
</div>    