
body{

    font-family:  Helvetica, Arial, sans-serif, 'Segoe UI', Tahoma, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 1%;
    border: black 1px solid;
    background-color: dimgrey;
    
}

header{
    background-color: cornflowerblue;
    border: black 2px solid;
}

.logo{
    
    width: 3%;
    height: 3%;
    
}

nav, nav ul, ul li, .user_info_fields{
    display: inline;
}

.bi{
    width: 30%;
    height: 30%;
}

.content-container{
    border: black 1px solid;
}

.componentBtn{
    display: block;
}


